/* zocial */
.bg-indigo {
  background-color: rgba(97, 87, 177, 0.898)
  }

  .card-registration-2 .bg-indigo {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  }

.transparente
{
  background: linear-gradient(to right,  rgba(23, 155, 173, 0.479), rgba(159, 199, 218, 0.425));
}

.boton
{
  width: 60px;
  height: 60px;
  border-radius: 25px;
  background-size: cover;
}


/* Estilos generales para la pantalla de carga */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px); /* Esto desenfoca el fondo */
  z-index: 1000; /* Asegúrate de que esté en el frente */
}

/* Estilos para el GIF de carga */
.loading-gif {
  width: 50px;
  height: 50px;
}

/* Estilos para el contenido de fondo */
.background-content {
  position: relative;
  z-index: 1; /* Para que esté detrás de la pantalla de carga */
  padding: 20px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}
