<div class="container">
<div class="row justify-content-around">
  <div class="col-md-4 mb-4" id="turnoEspecialista">
    <div class="card" style="width: 25rem;">
      <div class="card-header d-flex justify-content-between align-items-center">
        <span class="col-8">Turnos por especialista</span>
        <button class="btn btn-success btn-sm" (click)="exportarExcelGrafico(this.turnosPorEsp)">Excel</button>
        <button class="btn btn-danger btn-sm" (click)="exportarPdf('Turnos por especialista','turnoEspecialista')">Pdf</button>
      </div>
      <div class="card-body">
        <div class="container" style="width: 100%; height: 250px;">
          <canvas id="cantTurnos"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card" style="width: 25rem;" id="turnosDia">
      <div class="card-header d-flex justify-content-between align-items-center">
        <span class="col-8">Turnos por día</span>
        <button class="btn btn-success btn-sm" (click)="exportarExcelGrafico(this.turnosPorDia)">Excel</button>
        <button class="btn btn-danger btn-sm" (click)="exportarPdf('Turnos por día','turnosDia')">Pdf</button>
      </div>
      <div class="card-body">
        <div class="container" style="width: 100%; height: 250px;">
          <canvas id="turnosPorDia"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card" style="width: 25rem;" id="turnosSolicitados">
      <div class="card-header d-flex justify-content-between align-items-center">
        <span class="col-8">Turnos solicitados</span>
        <button class="btn btn-success btn-sm" (click)="exportarExcelGrafico(this.turnosSolicitados)">Excel</button>
        <button class="btn btn-danger btn-sm" (click)="exportarPdf('Turnos solicitados por espec. en los prox 15 dias','turnosSolicitados')">Pdf</button>
      </div>
      <div class="card-body">
        <div class="container" style="width: 100%; height: 250px;">
          <canvas id="turnosSolic"></canvas>
          <p class="card-text">*en los prox 15 días</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card" style="width: 25rem;" id="turnosFinalizados">
      <div class="card-header d-flex justify-content-between align-items-center">
        <span class="col-8">Turnos finalizado</span>
        <button class="btn btn-success btn-sm" (click)="exportarExcelGrafico(this.turnosFinalizados)">Excel</button>
        <button class="btn btn-danger btn-sm" (click)="exportarPdf('Turnos finalizados por espec. en los prox 15 dias','turnosFinalizados')">Pdf</button>
      </div>
      <div class="card-body">
        <div class="container" style="width: 100%; height: 250px;">
          <canvas id="turnosFinaliz"></canvas>
          <p class="card-text">*en los prox 15 días</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card" style="width: 25rem;" id="ingresosSistema">
      <div class="card-header d-flex justify-content-between align-items-center">
        <span class="col-8">
          Ingresos del sistema
        </span>
        <button class="btn btn-success btn-sm" (click)="exportarExcel()">Excel</button>
        <button class="btn btn-danger btn-sm" (click)="exportarPdf('Ingresos al sistema','ingresosSistema')">Pdf</button>
      </div>
      <div class="card-body" style="max-height: 290px; overflow-y: auto;">
        <ng-container *ngIf="this.logs != null && this.logs.length > 0">
          <table class="table table-dark table-striped" style="font-size: 13px;" id="excel">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of this.logs">
                <tr>
                  <td>
                    {{item.fecha}}
                  </td>
                  <td>
                    {{item.hora}}
                  </td>
                  <td>
                    {{item.email}}
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>        
        </ng-container>
      </div>
    </div>
  </div>
</div>
</div>