<ng-container *ngIf="this.listaEspecialistas">
  <div class="row col-12">
    <table class="table table-dark table-hover" style="opacity: 0.7;">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Dni</th>
          <th>Edad</th>
          <th>Mail</th>
          <th>Rol</th>
          <th>Habilitado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of this.listaEspecialistas">
          <td>{{prod.nombre}}</td>
          <td>{{prod.apellido}}</td>
          <td>{{prod.dni}}</td>
          <td>{{prod.edad}}</td>
          <td>{{prod.mail}}</td>
          <td>{{prod.rol}}</td>
          <ng-container *ngIf="prod.rol == 'Especialista' else elseBlockk">
            <td *ngIf="prod.habilitado == false else elseBlock">
              <button class="btn btn-success" (click)="habilitar(prod)">Habilitar</button>
            </td>
            <ng-template #elseBlock>
              <td>
                <button class="btn btn-danger" (click)="habilitar(prod)">Deshabilitar</button>
              </td>
            </ng-template>
          </ng-container>
          <ng-template #elseBlockk>
            <td>
              <button class="btn btn-secondary" (click)="habilitar(prod)">N\A</button>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
