<div class="container" style="position:relative; left:5px; height: 70%;">
  <div class="row col-12 d-flex justify-content-around">
    <div *ngFor="let item of listaTurnos" class="grosor">
      <div (click)="mostrar($event)" style="display: flex; flex-direction: column; align-items: center;">
        <button class="btn btn-dark btn-sm">{{ item.fecha }}</button>
      </div>
      <div *ngFor="let i of item.hora" style="white-space: nowrap; display: flex; flex-direction: column; align-items: center;">
        <button style="display: none;" class="btn btn-sm m-1 {{esTurnoOcupadoClass(item.fecha, i)}}" 
                [disabled]="esTurnoOcupado(item.fecha, i)" 
                (click)="guardarTurno(item.fecha, i)">
                {{formatHora(i)}}
              </button>
      </div>
    </div>
  </div>
</div>
