<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Elegir</mat-label>
    <input type="text"
           placeholder="Elegir"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="validar($event)">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
