<table class="table table-dark table-hover text-center" style="opacity: 0.8;">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Profesional</th>
            <th>Paciente</th>
            <th>Especialidad</th>
            <th>Estado</th>
            <th>Acciones disponibles</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of this.misTurnos" [attr.data-filtro]="item.nombreCompletoEspecialista +' '+ item.especialidad">
            <td>{{item.fecha}}</td>
            <td>{{item.hora}} hs.</td>
            <td>{{item.nombreCompletoEspecialista}}</td>
            <td>{{item.nombreCompletoPaciente}}</td>
            <td>{{item.especialidad}}</td>

            <ng-container [ngSwitch]="item.estadoTurno">
                <ng-container *ngSwitchCase="'Pendiente'">
                    <td>
                        <button class="btn btn-outline-primary">Pendiente</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger" (click)="cancelarTurno(item.id)">Cancelar turno</button>
                    </td>
                </ng-container>
                
                <ng-container *ngSwitchCase="'Aceptado'">
                    <td>
                        <button class="btn btn-outline-warning">{{item.estadoTurno}}</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-warning">N/A</button>                
                    </td>
                </ng-container>

                <ng-container *ngSwitchCase="'Finalizado'">
                    <td>
                        <button class="btn btn-outline-success">{{item.estadoTurno}}</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-success">N/A</button>                
                    </td>
                </ng-container>

                <ng-container *ngSwitchDefault>
                    <td>
                        <button class="btn btn-outline-secondary">{{item.estadoTurno}}</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-secondary">N/A</button>                
                    </td>
                </ng-container>
            </ng-container>
        </tr>
    </tbody>
</table>