<div class="container" id="descargar">
  <div class="row d-flex justify-content-around">
    <div class="row col-12">
      <h3 class="text-center col-8">Habilitacion de Especialistas</h3>
        <button class="btn btn-warning col-1 btn-sm" (click)="cambiar()">Alta admin</button>
        <button class="btn btn-info col-1 btn-sm ms-2" (click)="verHistoriaClinica()">Historia clinica</button>
        <button class="btn btn-success col-1 btn-sm ms-2" (click)="exportarExcel()">Exportar excel</button>
    </div>

    <div class="row col-12">
      <app-tabla [listaEspecialistas]="this.listaEspecialistas" (onEnviarEsp)="atraparEsp($event)"></app-tabla>
    </div>
    <ng-container *ngIf="this.bandera == false else elseBlock">
    </ng-container>
    <ng-template #elseBlock>
        <app-registro class="col-10"></app-registro>
    </ng-template>
  </div>
</div>
