<section class="gradient-custom-2 mt-2">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-11 ">
        <div class="card card-registration card-registration-2 transparente" style="border-radius: 15px;">
            <form [formGroup]="form" (ngSubmit)="guardar()" class="row">
              <div class="col-lg-6">
                <div class="p-5">
                  <h3 class="fw-normal mb-4">Datos de especialista</h3>
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">

                      <div class="form-outline">
                        <input type="text" id="form3Examplev2" formControlName="nombre" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev2" >Nombre</label>
                      </div>

                    </div>
                    <div class="col-md-6 mb-4 pb-2">

                      <div class="form-outline">
                        <input type="text" id="form3Examplev3" formControlName="apellido" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev3">Apellido</label>
                      </div>

                    </div>
                  </div>
                  <div class="mb-4 pb-2">
                    <div class="form-outline">
                      <input type="number" id="form3Examplev4a" formControlName="edad" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplev4">Edad</label>
                    </div>
                  </div>

                  <div class="mb-3 pb-2">
                    <div class="form-outline">
                      <input type="number" id="form3Examplev4s" formControlName="dni" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplev4">DNI</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md pb-2">
                      <div class="form-outline form-white">
                        <input type="text" id="form3Examplev4d" formControlName="agregarEsp" class="form-control" />
                      <label class="form-label" for="form3Examplev4">Agregar especialidad</label>
                      </div>
                    </div>
                    <div class="col-md-6 pb-2">
                      <div class="form-outline form-white">
                        <button class="btn btn-light"
                      (click)="agregarEspecialidad()">Agregar</button>
                      </div>
                    </div>
                  </div>

                  <select class="form-select" formControlName="especialidad" aria-label="Default select example">
                    <ng-container *ngFor="let item of this.especialidades">
                      <option value={{item.especialidad}}>{{item.especialidad}}</option>
                    </ng-container>
                  </select>

                </div>
              </div>
              <div class="col-lg-6 bg-indigo text-white" style="border-radius: 15px;">
                <div class="p-5">
                  <h3 class="fw-normal mb-4">Datos de usuario</h3>

                  <div class="mb-2 pb-2">
                    <div class="form-outline form-white">
                      <input type="email" id="form3Examplea2" formControlName="email"  class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplea2">Email</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="password" id="form3Examplea3" formControlName="clave" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea3">Clave</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="password" id="form3Examplea4" formControlName="repiteClave" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea4">Repetir clave</label>
                      </div>
                    </div>
                  </div>

                  <div class="mb-2 pb-2">
                    <div class="form-outline form-white">
                      <input type="file" id="form3Examplea6" (change)="cargoImagen($event,1)" class="form-control form-control-lg"  formControlName="imagenUno"/>
                      <label class="form-label" for="form3Examplea6">Imagen uno</label>
                    </div>
                  </div>

                  <div class="mb-4">
                    <ngx-recaptcha2 #captchaElem
                    [siteKey]="siteKey"
                      formControlName="recaptcha">
                    </ngx-recaptcha2>
                  </div>

                  <div class="d-flex justify-content-around">
                  <button type="submit" class="btn btn-light btn-lg"
                    data-mdb-ripple-color="dark">Registrar</button>
                  <button class="btn btn-light btn-lg"
                    data-mdb-ripple-color="dark" routerLink="">Volver</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</section>
