<section class="mt-2" [@slideFromTop]>
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-6">
          <div class="card card-registration card-registration-2 transparente" style="border-radius: 15px;">
            <div class="p-5">
            <h3 class="fw-normal mb-2 d-flex justify-content-center">Modificar especialista</h3>

            <div class="d-flex justify-content-center align-items-center mb-2">
                <img  style="height:auto;" alt="" src={{this.img}} width="100" height="100"
                class="foto">
            </div>
                <div class="pb-2 d-flex justify-content-start align-items-center">
                    <label class="form-label me-2 col-5" for="EspecialidadElegida">Elegir especialidad:</label>
                    <div class="form-check form-switch col-1">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="this.checkbox">
                      </div>
                    <select class="form-select form-select-sm form-control" id="EspecialidadElegida" [disabled]="!this.checkbox">
                        <ng-container *ngFor="let item of especialidades!">
                            <option [value]="item.especialidad">{{item.especialidad}}</option>
                        </ng-container>
                    </select>
                </div>
            
                <div class="pb-2 d-flex justify-content-start align-items-center">
                    <label class="form-label me-2 col-6" for="e">Especialidades actuales:</label>
                    <select class="form-select form-select-sm form-control" id="e">
                        <ng-container *ngFor="let item of this.especialista?.especialidades">
                            <option [value]="item">{{item}}</option>
                        </ng-container>
                    </select>
                </div>

                <h5 class="fw-normal mb-2 d-flex justify-content-center">Dias laborables</h5>
                <div class="pb-2 d-flex justify-content-center align-items-around" id="botonesLaborables">
                    <button appSeleccionar class="btn m-2 btn-light" (click)="habilitarDia($event)">Lunes</button>
                    <button appSeleccionar class="btn m-2 btn-light" (click)="habilitarDia($event)">Martes</button>
                    <button appSeleccionar class="btn m-2 btn-light" (click)="habilitarDia($event)">Miercoles</button>
                    <button appSeleccionar class="btn m-2 btn-light" (click)="habilitarDia($event)">Jueves</button>
                    <button appSeleccionar class="btn m-2 btn-light" (click)="habilitarDia($event)">Viernes</button>
                </div>

                <h5 class="fw-normal mb-2 d-flex justify-content-center">Horarios</h5>
                <div class="pb-2 d-flex justify-content-center align-items-around">
                    <label class="form-label me-2 col-2" for="e">Inicio:</label>
                    <select  (change)="generarHorarioFin($event)" class="form-select form-select-sm form-control" style="width: 20%;" id="HorarioInicio">
                        <ng-container *ngFor="let item of this.horarios">
                            <option [value]="item.id" [attr.selected]="item.selected ? true : null">{{item.hora}}</option>
                        </ng-container>
                    </select>
                    <label class="form-label ms-2 col-2" for="e">Fin:</label>
                    <select class="form-select form-select-sm form-control" style="width: 20%;" id="HorarioFin">
                        <ng-container *ngFor="let item of this.horariosFin">
                            <option [value]="item.id" [attr.selected]="item.selected ? true : null">{{item.hora}}</option>
                        </ng-container>
                    </select>
                </div>

                <div class="d-flex justify-content-around">
                    <button appHover class="btn gradient-custom-2" (click)="guardar()">Guardar</button>
                    <button appHover class="btn gradient-custom-2" routerLink="/clinica/profile">Volver</button>
                </div>
                </div>
            </div>
          </div>
        </div>
    </div>
  </section>