/* zocial */
.bg-indigo {
    background-color: rgba(97, 87, 177, 0.898)
    }
  
    .card-registration-2 .bg-indigo {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  
    }
  
  .transparente
  {
    background: linear-gradient(to right,  rgba(23, 155, 173, 0.479), rgba(159, 199, 218, 0.425));
  }
  .foto
  {
    border-radius: 500px;
  }

  .gris
  {
    background-color: #28a745;
    opacity: var(--bs-btn-disabled-opacity);
    color: white;
  }
  
  .gradient-custom-2 {

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,  rgba(23, 155, 173, 0.479), rgba(159, 199, 218, 0.425));
    }
  