<section class="gradient-form">
  <div class="container py-5 ">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-8">
        <div class="card text-black transparente">
          <div class="row g-0">
              <div class="card-body p-md-5 mx-md-4 ">
                <div class="text-center">
                  <h3 class="mt-1 mb-2 pb-1" id="prueba">Bienvenido, TP Clinica</h3>
                </div>
                <form>
                  <div class="d-flex justify-content-center align-items-center">
                    <img  style="height:auto;" alt="" src={{this.img}} width="150" height="150"
                     class="foto">
                  </div>
                  <div class="text-center pt-1">
                    <button appHover class="btn btn-block gradient-custom-2 m-3" type="button" routerLink="profile">Mi perfil</button>
                    <button appHover class="btn btn-block gradient-custom-2 m-3" type="button" routerLink="misTurnos">Mis turnos</button>
                    <ng-container *ngIf="this.rol != 'Especialista'">
                        <button appHover class="btn btn-block gradient-custom-2 m-3" routerLink="turnos">Solicitar Turno</button>
                    </ng-container>
                  </div>
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
